.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #231651;
}

.projects h1 {
    color: #D6FFF6;
}

.react-multi-carousel-list {
    align-items: center;
    padding: 2rem 0;
    cursor: grabbing;
}

@media only screen and (max-width: 400px) {

    .projects > * {
        width: 100%;
    }

}