main.hero {
    background-color: #231651;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding-right: 4rem;
    padding-left: 4rem;
    gap: 2rem;
    text-align: justify-all;
}

main h1 {
    color: #D6FFF6;
    font-size: 400%;
    font-weight: bold;
    text-align: left;
}

.illustration img {
    width: 400px;
    height: 550px;
}

.socialMedia-icons {
    margin-top: -3%;
    display: flex;
    gap: 20px;
    max-width: 400px;
}

.socialMedia-icons img {
    width: 60px;
}

.socialMedia-icons img:hover{
    transform: scale(1.2);
}