.contact {
    background-color: #D6FFF6;
}

.contact form {
    justify-content: space-around;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin: 0 auto;

}

.contact h1 {
    color: #231651;
}

.name-and-lastName {
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.contact label {
    font-weight: 700;
    margin-left: 10px ;
    margin-bottom: 5px;
}

.label-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact input {
    width: 100%;
    height: 2.5rem;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    text-indent: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

.contact textarea {
    text-indent: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
}

 section.contact.section > form > button {
    margin: 1.5rem auto;
    width: 125px;
    height: 10%;
    cursor: pointer;
     background: white;
     border: none;
     border-radius: 15px;
}

section.contact.section > form > button:hover {
     background-color: #f5f5f5;
 }

 form > p {
    padding: 0 5px;
    margin: 0;
    align-self: flex-end;
 }

 form .active {
     animation: shake 1000ms timing-function delay 1 direction fill-mode;
     color: red;
     animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
     transform: translate3d(0, 0, 0);
     backface-visibility: hidden;
     perspective: 1000px;
   }
   
   @keyframes shake {
     10%, 90% {
       transform: translate3d(-1px, 0, 0);
     }
     
     20%, 80% {
       transform: translate3d(2px, 0, 0);
     }
   
     30%, 50%, 70% {
       transform: translate3d(-4px, 0, 0);
     }
   
     40%, 60% {
       transform: translate3d(4px, 0, 0);
     }
   }

   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
     input {
      width: 100%;
    }

    .contact form {
      width: 100%;
    }

  }
 