footer {
    background-color: #231651;
    width: 100%;
    height: 100%;
    padding: 0 0.2rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

footer img {
    width: 30px;
    height: 35px;
}

footer p {
    font-size: 15px;
    padding: 0;
    margin: 5px;
}

footer .socialMedia-icons {
   display: flex;
    justify-content: center;
    align-items: center;
}