@font-face {
  font-family: "Work Sans";
  src: url("./fonts/Work-Sans/WorkSans-Italic-VariableFont_wght.ttf") format("ttf"), url("./fonts/Work-Sans/WorkSans-VariableFont_wght.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Work Sans", monospace;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
