@font-face {
  font-family: "Work Sans";
  src: url("./fonts/Work-Sans/WorkSans-Italic-VariableFont_wght.ttf") format("ttf"), url("./fonts/Work-Sans/WorkSans-VariableFont_wght.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Work Sans", monospace;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0;
  padding: 2.5rem;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
}

.fa-solid {
  font-size: 35px;
  color: black;
}

.scrollToTop {
  position: fixed;
  right: 3%;
  bottom: 5%;
  background-color: #D6FFF6;
  width: 10px;
  height: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #231651;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.scrollToTop-active {
  display: none;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 

.section {
  padding: 1rem;
}

}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  background-color: #baf0e3;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #3A2C6D; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #56429e; 
}